@page "{iterations:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ITERATIONS: @Model.Iterations</h1>
    <h1 class="display-4">TOTAL TIME</h1>
    <h1 class="display-4">Run Time: @(Model.RunTime)ms</h1>
    <h1 class="display-4">Execution Time: @(Model.ExecutionTime)ms</h1>
    <h1 class="display-4">AVERAGE TIMES</h1>
    <h1 class="display-4">Run Time: @(Model.AverageRunTime)ms</h1>
    <h1 class="display-4">Execution Time: @(Model.AverageExecutionTime)ms</h1>
</div>
